/* Main Content */
.main {
  padding: 0 32px;
  margin: 32px auto;
  box-sizing: border-box;
}

.main__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 32px;
  text-align: center;
  color: var(--color-neutral-900);
}

@media (min-width: 768px) {
  .main {
    width: calc(100% - 256px);
    margin: 32px 0 32px auto;
  }

  .main__title {
    text-align: start;
  }
}

/* Repository List */
.repository_list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: 24px;
}

.repository_list__empty {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  color: var(--color-neutral-600);
  background-color: var(--color-neutral-100);
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--color-neutral-300);
}

@media (max-width: 768px) {
  .repository_list {
    padding: 20px;
  }

  .repository_list__grid {
    grid-template-columns: 1fr;
  }
}
